
body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
  ;
}
header, main, footer {
	max-width: 700px;
	margin: 0 auto;

}
header {
  background-color: #16BAC5;
  padding: 1rem;
  border-radius:10px;
	margin-bottom: 10px;

}
.webAddress {
	padding-bottom: 22px;
	margin-bottom: 10px;
}
/* phone or baseline views **************************/


main {
	display: grid;
	grid-template-columns: 1fr;
	/* font-size: 0.8rem; */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
main section h2 {
	color: #6caf95;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
}
main section picture img {
  width: 100%;
  height: auto;
  border: 1px solid #bbb;
}

main section:nth-child(2) {
	display: block;
	margin: 0.5rem;
}

footer {
  background-color: #16BAC5;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}


/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
