header, main, footer {
  max-width: 45rem;
  margin: 0 auto;
  padding: .75rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.profile {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
header {
/*  width: 700px; height: 60px; */
  background-color:  #3e5836d5;
  padding: 1rem;
  border-radius:10px;
  font-family: 'Kanit', sans-serif;
  text-align: center;

}
h1 {
  color: rgb(255, 255, 255);
  /* margin-left: 50px; */
  font-size: 2.5em;
}
h2 {
  font-size: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 0px;
}
footer {
  /* width: 700px; height: 45px; */
  background-color: #3e5836d5;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}
footer a:visited { 
  color: white
}

p {  
  color: white;
}
