/*font-family: 'Arimo', sans-serif;
font-family: 'Bree Serif', serif;
*/
header,
nav,
footer {
	max-width: 100%;
	margin: 0 auto;
}
main {
	max-width: 780px;
	margin: 0 auto;
}
h3 {
	font-family: "Arimo", sans-serif;
	font-size: 1.3em;
	text-align: center;
}
img {
	width: 100%;
	height: auto;
}
nav {
	background-color: #476A6F;
	text-align: center;
}
.navActive {
	text-decoration: underline;
	text-shadow: 2px;
}
.navigation {
	display: flex;
	flex-direction: column;
}

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
}
.navigation a:hover {
	color: white;
	background-color: rgb(14, 40, 44);
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

.contact {
	display: flex;
	flex-direction: row;
	align: center;
	background-color: rgba(164, 172, 158, 0.76)
}
footer {
  background-color: #7EB09B;
  font-size: .8em;
  text-align: center;
  padding: 10px;
}

.contactInfo {
	padding: 15px;
	text-align: center;
}

.title {
  font-family: 'Bree Serif', serif;
}
.font2 {
  font-family: 'Arimo', sans-serif;
}
header {
  background-color:#7EB09B;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content:center;
}
header img {
  width: 80px;
  height: auto;
}
.headings {
	display: flex;
	flex-direction: column;
}
.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.slogan {
	font-family: Arimo, sans-serif;
	letter-spacing: 1pt;
	margin-left: 20px;
	font-size: 1rem;
}
.responsive li {
	display: block;
}
.boxes {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-width: 1px;
  border-style: dashed;
  text-align: center;
}
.hero {
	width: 600px;

	h2 {text-align: center;
		font-size:2.5rem;
		text-shadow:3px 3px 5px #777;}

	.heroDiv {
		margin: 10px auto;
		position: relative;}
	
	.weatherSum {
		position: absolute;
		top: 25px;
		right: 50px;
		border-width: 2px;
		border-color: black;
	/*	position: absolute;
		top: 25px;
		right: 50px;
		background: radial-gradient(#eee, #4567aa);
		border: 1px solid #000;
		padding: 1.5rem;
		box-shadow: 0 0 30px #111;
		opacity: .8;*/
	}
}
#notice {
	text-align: center;
	font-size: 1.4em;
	background-color: yellow;
}
.cityName {
	text-align: center;
	font-size: 2em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*---------FORM-----------*/
form fieldset {
	margin: 2rem 0;
	border: 1px solid gray;
	border-radius: 10px;
	padding: .5rem 2%;
}
form legend {
	color: #476A6F;
	margin: 0 1rem;
	padding: 0 .5rem;
}
form label.top, form div {
	display: block;
	padding-top: 1rem;
	color: #476A6F
	font-size: .8rem;
}
form label.top input, form label.top select {
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(0,0,0,0.1);
}
form label.sbs {
	display: block;
	padding: .75rem 0;
	color: black;
}
form label.submitBtn {
	border: none;
	background-color: #7EB09B;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 2rem 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}
textarea {
  height: auto;
}
.thanks {
	border: 3px;

}
@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu Examples */
	/* Flex *********************/
  .navigation {
		display: flex;
		flex-direction: row;

	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}  
  
  nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
  
    nav a {
      font-size: 1rem;
    }
    
  /* Desktop Views ****************************/
  @media only screen and (min-width: 54em) {
    nav a {
      font-size: 1.1rem;
		}
		.navigation {
			display: flex;
			flex-direction: row;
		}
	
    
  